/* CSS */

body {
    background-color: #833ab4; /* Establecemos el color de fondo de la pagina */
    display: flex; /* Utilizamos FlexBox, lo que pemite alinear facilemtne los elementos hijos */
    justify-content: center; /* Centra los elementos hijos horizontalmente dentro del contenedor <body> */
    align-items: center;/* Centra los elementos hijos verticalmente dentro del contenedor <body> */
    height: 100vh; /* Establecemos la altura del <body> al 100%, garantizamos ocupar todo el espacio vertical */
    margin: 0; /* Elimina los márgenes predeterminados del <body>, ayuda a centrar el contenido correctamente */
}

.button {
    text-decoration: none; /* Elimina subrayados o decoraciones del texto */
    text-transform: uppercase; /* Transforma todo el texto a mayúsculas */
    letter-spacing: 2px; /* Añade un espacio adicional de 2px entre cada letra */
    color: #fff; /* Definimos el color del texto */
    outline: 2px solid #fff; /* Añade un contorno de color con un borde sólido de 2px */
    padding: 30px 60px; /* Definimos un relleno de 30 px de arriba/abajo y 60 px de izquierda/derecha */
    position: relative; /* Posicionamos el boton de manera relativa dentro del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que salga del área del elemento */
    transition: color 1s; /* Aplica una transicion suave de 1 segundo al cambiar el color del texto */
}

.button:hover { /* Cuando el mouse esta sobre el elemento */
    color: #833ab4; /* Cambiamos el color del texto */
}

.button::before { /* Pseudo-elemento(::), permite agregar animacion antes(before)/después(after) al pasar el mouse sobre el elemento */
    content: ''; /* Definimos el contenido del pseudo-elemento */
    position: absolute; /* Posicionamos el elemento de forma absoluta al contenedor mas cercano */
    top: 0; /* Establecemos la posición superior del elemento en relacion al borde superior del contenedor padre */
    left: -50px; /* Establecemos la posición izqueirda del elemento en relacion al borde izquierdo del contenedor padre */
    width: 0; /* Establece el ancho del elemento en 0, lo que significa que no sera visible inicialmente */
    height: 100%; /* Establece la altura del elemento al 100%, la altura del contenedor padre */
    background-color: #fff; /* Definimos el color de fondo del elemento */
    transform: skew(53deg); /* Aplicamos una transformación de inclinación al elemento de 53 grados */
    z-index: -1; /* Establecemos el orden de apilamiento del elemento(detras del contenido principal del contenedor padre) */
    transition: width 1s; /* Aplicamos un atransición suave de 1 segundo al ancho del elemento */
}

/* Crea el efecto visual de fondo expandiendose hacia los lados */
.button:hover::before { /* Regla para aplicar estilos al elemento */
    width: 150%; /* Establecemos el ancho del elemento 150% del ancho del contenedor padre */
}
